*{
    margin: 0;
    padding: 0;

}
header{
    padding: 1rem;
  
    color:white;
    background-color: black;
    width: 100%;
  
}
.logo span{
    color: aquamarine;
    font-size: 1.4rem;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}.container{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
   font-size: 1rem;
   padding-right: 1.9rem;
}.nav>a{
    text-decoration: none;
}#paragraph{
   text-align: center;
}
.textcenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 0px 5px 0px 5px;
}.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}.photo{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}h1{
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 30px;

}.section2 div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
   margin-top: 10%;
}#paragraph1{
    margin-bottom: 5%;
    text-align: center;
}
.section{
    
    border-top: solid;
    border-color: antiquewhite;
     background-color: antiquewhite;
}.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-left: 5%;
    padding-bottom: 10%;
    padding-right:5% ;
    margin-bottom: 10rem;
    text-align: center;
    margin-right: 30%;
}.article{
    border: 1px solid red;
    margin-top: 1rem;
    padding-left: 10px;
    padding-top: 10px;
    background-color:white ;
    padding-bottom:10% ;
    padding-right:10px ;
    
}ul{
    list-style: none;
}

@media only screen and (min-width: 460px) {
    .wrap{
        grid-template-columns: 1fr 1fr 1fr ;
    }
  }


@media only screen and (min-width: 960px) {
    .wrap{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
  }
